

body {
    font-family: Arial, sans-serif;
    background-color: green;
    color: #333;

}

header {
    background-color: #4a90e2;
    color: brown;
}

header h1 {
color: gold;
}

header h2 {
color: gold
}

header p {
    font-style: italic;
    font-size: 0.9em;
}

article h3 {
    color:blue;
}

ol, ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

footer {
    background-color: #eee;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}

footer a {
    color: #4a90e2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
